.nav-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.instruction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 8px ridge #4695DD;
    text-align: center;
    align-items: center;
    width: 40%;
    background-color: #ffffff93;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.instruction-content h1 {
    font-family: 'Sixtyfour Convergence';
    background: linear-gradient(to right, #4695DD, #0104b9, #4695DD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 46.9px;
}

.instruction-content h2 {
    font-family: 'Sixtyfour Convergence';
    background: linear-gradient(to right, #4695DD, #0104b9, #4695DD);
    background-clip: text;
    color: transparent;
    font-size: 20px;
    margin-bottom: 50px;
}

.instruction-content button {
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
    background: transparent;
    border: 2px solid #4695DD;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #4695DD;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.instruction-content button:hover,
.instruction-content button:focus {
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    outline: none;
}


.instruction {
    list-style-type: styl;
    text-align: left;
    margin: 10px 18px 50px 50px;
    color: #4695DD;
    font-weight: 500;
    font-size: 20px;
}

.instruction li {
    margin-bottom: 15px;
}

@media(max-width:768px) {

    .instruction-Overlay {
        margin-top: 20px;
        height: 80%;
    }

    .instruction-content {
        width: 95%;
    }

    .instruction-content h1 {
        font-size: 30px;
    }

    .instruction-content h2 {
        font-size: 18px;
    }

    .instruction {
        font-size: 17px;
    }
}